@font-face {
  font-family: 'fonteTituloPrincipal';
  src: url("Fonts/Fontspring-DEMO-blue_vinyl_bold_ps_ot.otf");
}

@font-face {
  /*utilzada no nome do perfil e no texto explicativo do post*/
  font-family: 'fonteNomeTexto';
  src: url("Fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'fontePost';
  src: url("Fonts/Super\ Disco\ Personal\ Use.ttf");
}

body,
html {
  background: black;
  display: flex;
  justify-content: center;
}

body {
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.tituloPrincipal {
  font-family: fonteTituloPrincipal;
  color: aliceblue;
  font-size: 35px;
  border-top: 50px;
}

.main {
  height: 100%;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 18px;
}

.post {
  width: 90%;
  margin-top: 20px;
  padding: 10px;
  border: solid;
  border-width: thin;
  border-color: rgb(53, 53, 54);
  border-radius: 15px;
}

.fotoNome {
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.foto {
  margin-left: 5px;

  /*Borda colorida ao redor da foto de perfil*/
  padding: 3px;
  display: flex;
  border-style: solid;
  background: linear-gradient(to right, orange, red, darkorchid) padding-box, linear-gradient(to right, orange, red, darkorchid) border-box;
  border-radius: 50em;
}

.fotoPerfil {
  height: 60px;
}

.nome {
  margin-left: 30px;
  margin-left: 10px;
  font-family: fonteNomeTexto;
  font-size: 30px;
  color: aliceblue;
}

.textBox {
  border-radius: 15px;
  height: 210px;
  margin-top: 10px;
  font-family: fontePost;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

#textBox1 {
  background: #23F6BB;
}

#textBox2 {
  background: #5AB7ED;
}

#textBox3 {
  background: #5AE5ED;
}

#textBox4 {
  background: #5AED92;
}

#textBox5 {
  background: #6d96ED;
}

.linkPost {
  text-align: center;
}

.textBox a {
  text-decoration: underline;
  color: black;
  text-decoration: none;
}

.textBox a:hover {
  color: #2A6BF7;
  text-decoration: underline;
}

.textoPost {
  font-family: fonteNomeTexto;
  font-size: 14px;
  color: aliceblue;
  text-indent: 25px;
}

.pTexts {
  margin-top: 2px;
}

.likeButtonDiv {
  display: flex;
  margin-top: 8px;
}

.likebotao {
  transition: transform 0.2s ease-in-out; /* Adicionando transição de escala */
}

.likebotao:active {
  transform: scale(1.2);
}

input.likeNum {
  border: none;
  outline: none;
  width: 45px;
  height: 30px;
  font-size: 14px;
  background: black;
  color: aliceblue;
  font-family: fonteNomeTexto;
  margin: 0px;
  float: right;
  padding-left: 5px;
}

input::placeholder {
  font-family: fonteNomeTexto;
  font-size: 14px;
  color: aliceblue;
}

/*Esconde as arrows do input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}